:root {
	--main-bg-color: #f8f9fa;;
}

body {
	background-color: var(--main-bg-color);
}



/* ul.page-map ul {
	list-style: none;
	padding-left: 10px;
	font-size: .8em;
} */
/* ul.page-map {
	list-style: none;
	padding-left: 0;
} */

/* sidebar specific stylization */
